@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
:root {
  --bodyBG: #c5e4e7;
  --whiteNum: #ffffff;
  --darkBG: #00474b;
  --lightDarkBG: #26c2ae;
  --darnNum: #00474b;
  --lightNum: #26c2ae;
  --person: #7f9d9f;
  --textColor: #5e7a7d;
  --fieldBG: #f3f9fa;
  --customColor: #547878;
  --hoverColor: #9fe8df;
  --hoverField: #26c2ae;
  --warning: #e17457;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  height: 100%;
  font-family: "Space Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bodyBG);
  overflow-x: hidden;
}
.siteLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 41px;
}
.container {
  min-width: 311px;
  padding: 32px;
  background-color: var(--whiteNum);
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.200735);
  border-radius: 25px 25px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.innerContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.summaryContainer {
  padding: 37px 22px 24px 24px;
  background-color: var(--darkBG);
  border-radius: 15px;
}
.resetBTN {
  width: 100%;
  height: 48px;
  background: var(--lightNum);
  border-radius: 5px;
  border-width: 0px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: var(--darnNum);
  font-family: "Space Mono";
  margin-top: 11px;
  cursor: pointer;
}
.resetBTN:hover {
  background: #9fe8df;
}
.selectTip {
  font-size: 16px;
  line-height: 24px;
  color: var(--textColor);
  margin-bottom: 16px;
}
.percentContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
@media (min-width: 1440px) {
  .container {
    flex-direction: row;
    gap: 48px;
    border-radius: 25px;
  }
  .summaryContainer {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 333px;
  }
  .siteLogo {
    margin-bottom: 88px;
  }
  .percentContainer {
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 16px;
    grid-column-gap: 14px;
  }
}
